{% if readersSurvey is not null %}
    <div class="news-readers-survey">
        <h5>{{ 'news.readers.survey.header'|trans }}</h5>
        <form>
            <div class="news-readers-survey-question">{{ readersSurvey.question }}</div>
            {% for answer in readersSurvey.answers %}
                <button typeof="radio">{{ answer }}</button>
            {% endfor %}
        </form>
    </div>
{% endif %}